@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
.primary-color {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-pink-600  inline-block;
}

body {
  background-color: black;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.bg-primary-color {
  @apply bg-gradient-to-r from-orange-400 to-pink-600  inline-block;
}
